.Rproj.user
.Rhistory
.RData
.Ruserdata
_publish.R
_book
_bookdown_files
rsconnect
*.sav
*.xls
*.xlsx
*.pdf
*.RData
TCSM_student/
*.dat
!DatingSex.dat
!DDS8_1.dat
!GPA.dat
!PTSD.dat
*.inp
*.out
*.log
*.gh5
!S23.pdf
